// After 4 second delay, spin once every 5 seconds for 1 second
.delayed-spinner {
    animation: spin 5s infinite;
    animation-delay: 4s;

}
@keyframes spin {
    20%, 100% {
        transform: rotate(360deg);
    }
}