//Product Item Component
.itemCards {
    width: 50%;
    margin: 1%;
    display: inline-block;
}

.imagePreview {
    display: inline;
    padding: 5%;
}
  
  .previewContainer {
    width: 250px;
}

@media (min-width: 481px) {
    .itemCards {
        display: inline-block;
        width: 20%;
    }
}

//About Component
.aboutUsContainers {
    display: inline-block;
    height: 400px;
    width: 50%;
  }