//Home Component
.homeFeaturedItems {
    height: 200px;
}

//Product Item Component
.itemCards {
    width: 80%;
    height: auto;
    margin: 1%;
    display: inline-block;
}

@media (min-width: 481px) {
    .itemCards {
        display: inline-block;
        width: 20%;
    }
}

//About Component
.aboutUsContainers {
    display: inline-block;
    height: 400px;
    width: 50%;
  }