// Import all other SCSS files here.
// @import 'example';
@import 'components';

.App {
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  background: #F3F3F3;
}

@media only screen and (min-width: 1200px) { 
  .hideIfLargeDisplay { 
      display: none; 
  } 
}

@media only screen and (max-width: 1199px) { 
  .hideIfSmallDisplay { 
      display: none; 
  } 
}

a:hover {
  text-decoration: none;
}

