.App {
  text-align: center;
}

.NavigationBar {
    background: turquoise;
}

.MainPage {
  height: 700px;
  background: blue;
}

.footer {
  margin: 20px;
  background: pink;
}

.featuredProductContainer {
  display: inline-block;
  margin: 0 10% 0 10%;
}

.itemColumn {
  width: 25%;
}

.itemCards {
  width: 20%;
  margin: 1%;
  display: inline-block;
}

.productPageContainer {
  display: inline-block;
  background: gray;
  width: 30vw;
}

.productPageCartContainer {
  display: inline-block;
  width: 30vw;
  height: 300px;
  background: pink;
}

.itemCarousel {
  width: 100%;
}

.imagePreview {
  display: inline;
  width: 50%;
  padding: 5%;
}

.previewContainer {
  width: 250px;
}

/* About us Page */
.box1 {
  display: inline-block;
  height: 400px;
  width: 35%;
  margin-left: 15%;
  background: blue;
}

.box2 {
  float: right;
  display: inline-block;
  height: 400px;
  width: 35%;
  margin-right: 15%;
  background: red;
}

.box3 {
  margin-top: 5%;
  float: left;
  display: inline-block;
  height: 400px;
  width: 35%;
  margin-left: 15%;
  background: green;
}

.box4 {
  margin-top: 5%;
  display: inline-block;
  height: 400px;
  width: 35%;
  margin-right: 15%;
  background: yellow;
}

.aboutUsContainers {
  display: inline-block;
  height: 400px;
  width: 50%;
}